.container {
    width: 12000px;

    .actions-container {
        position: sticky;
        top: 0;
        left: 0;
        display: inline-block;
        button {
            width: 100px;
            height: 40px;
        }
    }

    #waveform {
        position: sticky;
        top: 40px;
        background: white;
    }
    #wave-timeline {
        position: sticky;
        top: 148px;
        background: white;
    }

    .channels {
        .channel {
            border-top: 1px solid gray;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-evenly;
            user-select: none;
            .frame { 
                outline: 1px solid rgba(128, 128, 128, 0.178);
                background-color: #fff;
                &.selected {
                    background-color: #0000;
                }
            }
        }
    }
}