.container {
    width: 12000px;

    .actions-container {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        .actions {
            button {
                width: 100px;
                height: 40px;
            }
        }
        .state-type {
            margin-right: 10px;
            input+label {
                margin-right: 10px;
                font-size: larger;
            }
        }
        
    }

    #waveform {
        position: sticky;
        top: 40px;
        background: white;
    }
    #wave-timeline {
        position: sticky;
        top: 148px;
        background: white;
    }

    .group {
        border-bottom: 5px solid grey;
        .node {
            border-top: 1px solid gray;
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-evenly;
            user-select: none;
            .frame { 
                // outline: 1px solid rgba(128, 128, 128, 0.178);
                background-color: #fff;
                &.selected {
                    background-color: #000F;
                }
            }
        }
    }
}

.vertical-bar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    border-right: 2px solid red;
}

.wrapper {
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    overflow-x: scroll;
    position: relative;
}