<!-- {{duration}}
<br />
{{frameCount?.length}} -->
<div class="container">
    <div class="actions-container">
        <button *ngIf="!playing; else pause" (click)="wave.play()">Play</button>
        <ng-template #pause>
            <button (click)="wave.pause()">Pause</button>
        </ng-template>
        <button (click)="wave.stop()">Stop</button>
        <button (click)='saveData()'>Save</button>
        <button (click)="createFrameData()">Clear All</button>
    </div>
    <div id="waveform"></div>
    <div id="wave-timeline"></div>
    <div *ngFor="let group of frameData; let groupindex = index" class="channels">
        <div *ngFor="let channel of group.nodes; let channelIndex = index" class="channel"
            [ngStyle]="{'background-color': channel.color}">
            <div *ngFor="let frame of channel.frameSates; let index = index" class="frame"
                [ngClass]="{'selected': frame}" [ngStyle]="{'width': frameWidth+'px'}"
                (click)="onFrameClick(index, channelIndex, groupindex)">
                &nbsp;
            </div>
        </div>
    </div>
</div>